* {
    margin: 0;
    padding: 0; 
}

h1 {
    font-size: 20px; 
    font-family: sans-serif;
    font-weight: bold;
}

h2 {
    font: bold 14px sans-serif;
}

header, section, footer, aside, nav, article, hgroup {
    display: block;
}

body {
    text-align: center;
}

.agrupar {
    width: 960px;
    border: 1px solid black;
    margin: 15px auto;
}

.header {
    background: red;
}
 
 
 

